



/*
---- SIDE NAVIGATION ------------------------------------
	
---------------------------------------------------------
*/

	.side-nav{
		position:fixed;
		right:24px;
		width:12px;
		z-index:4;
		top:33%;
	}

	.side-nav a{
		width:6px;
		height:6px;
		background:rgba(250,250,250,0.8);
		border:1px solid rgb(200,200,200);
		display:block;
		margin-bottom:24px;
		border-radius:3px;
	}

	.side-nav a:hover{
		background:rgba(150,150,150,1.0);
	}

	.side-nav a:active{
		background:rgba(100,100,100,1.0);
	}



	
/*
-- STRUCTURAL ELEMENTS ------------------------------------

-----------------------------------------------------------
*/


	/*this is a container to hold multiple paragraphs*/
	.body-text{
		border-top:1px dotted black;
		border-bottom:1px dotted black;
		position:relative;
	}

	.content{
		padding:100px 0px 200px 0px;
	}



/*
-- HEADER IMAGE -------------------------------------------

-----------------------------------------------------------
*/

	.header-image{
		width:100%;
		min-height: 900px;
		max-height:1100px;
		background:url('../../img/steam-sketch.jpg');
		-webkit-background-size:cover;
		background-position:-100px 0px;
		position:relative;
		z-index:2;
	}


/*
-- SECTIONS -----------------------------------------------
	broad color styles for each section
-----------------------------------------------------------
*/
	
	/* Key to Innovation / big introduction */

	#key-to-innovation{
		border:20px solid $green;
		background:white;
		padding-bottom:250px;
	}

	#key-to-innovation .body-text{
		border-top:1px solid $green;
		border-bottom:1px solid $green;
	}

	#key-to-innovation h2{
		color:$green;
	}


	#key-to-innovation .body-text{
		z-index:3;
	}


	/* Creativity is a Skill / introduction */

	#creativity-is-a-skill{
		border:20px solid $blue;
		background:url('../../img/shapes/grid-pattern.png');
	}

	#creativity-is-a-skill h2{
		color:$blue;
	}



	/* Makers are Innovators / profiles */
	
	#innovators{
		background:$purple;
		border:20px solid $pink;
	}


	#innovators h2{
		color:$pink;
		margin-bottom:67px;
	}

	.maker-profile{
		margin-bottom:40px;
		padding-bottom:40px;
		position:relative;
		z-index:2;
		border-bottom:2px solid rgba(30,30,30,0.1);
	}
	


	.maker-profile-name{
		color:rgb(246,246,246);
	}

	.maker-profile img{
		float:left;
		margin-top:46px;
		margin-left:43px;
		margin-right:64px;
		width:262px;
		/*height:218px;*/
		-webkit-filter:grayscale(1.0) brightness(85%) contrast(80%);
	}

	.maker-profile img:hover{
		-webkit-filter:brightness(85%) grayscale(1.0);
	}


	p.maker-description{
		float:left;
		margin:0px;
		color:rgb(246,246,246);
		-webkit-font-smoothing:antialiased;
	}



	/* Happening / news feed */
	
	#happening{
		background:rgb(255,251,219);
	}

	#happening h2{
		color:$green;
	}



	/* Take Action */

	#take-action{
		background:$slate;
		border-top:10px solid $pink;
	}

	#take-action h2, #take-action h3{
		color:$cream;
	}

	#take-action h3{
		-webkit-font-smoothing:antialiased;
	}

	#take-action.content p{
		color:rgb(240,240,250);
		-webkit-font-smoothing:antialiased;
	}



	/* Making Process */

	#making-process{
		padding-top:220px;
		padding-bottom:160px;
		margin-top:-188px;
		background-color:white;
		background-image:url('../../img/shapes/bucky-bg.png'),
						 url('../../img/shapes/bucky-slices.png');
		background-repeat:no-repeat;
		background-position:-2% 600px,
							85% 900px;

	}

	.making-process-title{
		text-align:center;
		font-weight:normal;
		font-style:italic;
		font-family:baskerville;
		font-size:22px;
		margin-bottom:22px;
		margin-top:44px;
		color:$slate;
	}

	.making-process-step{
		/*width:557px;
		margin-left:185px;*/
		margin-bottom:150px;
	}

	.making-process-step:last-child{
		margin-bottom:0px;
	}

	/*.making-process-step img{
		width:369px;
		border:1px solid rgb(200,200,200);
		padding:10px;
	}*/

	p.figure{
		float:left;
		text-align:center;
		font-family:baskerville;
		font-style:italic;
		color:$slate;
	}


	/*
	--INFO GRAPHICS----------------------------------------

	-------------------------------------------------------
	*/

	.graphic img{
		width:100%;
		height:350px;
	}

	.graphic:nth-child(3n+3){
		margin-right:0px;
		/*background:blue;*/

	}

/*
---- ANIMATED TITLES --------------------------------------
	all the different states for the title animations
	live here
-----------------------------------------------------------
*/

	/* Innovation Title - kerning */
	.innovation-title .char3 { 	letter-spacing:0px; 	}	
	.innovation-title .char4 {	letter-spacing: -1px;	}
	.innovation-title .char9 {	letter-spacing: 0px;	}
	.innovation-title .char15{	letter-spacing: 1px; 	}

	/* Innovation Title - animation states */
	.innovation-title .char27{
		letter-spacing: -100px;
		opacity:0.0;
		-webkit-transition: letter-spacing 1.5s cubic-bezier(.48,.01,.2,1), opacity 1s ease-in 1s;
		   -moz-transition: letter-spacing 1.5s cubic-bezier(.48,.01,.2,1), opacity 1s ease-in 1s;
  			    transition: letter-spacing 1.5s cubic-bezier(.48,.01,.2,1), opacity 1s ease-in 1s;							
	}

	/* Innovation Title - revealed style */
	.revealed .char27{
		letter-spacing:-2px;
		opacity:1.0;
	}

	/* Innovation Title - illustration */
	.title-illustration{
		position:absolute;
		z-index:4;
		top:-80px;
		margin-left:50px;
	}


	/* Happening Title - kerning */
	.happening-title .char9 {	letter-spacing: 0px;	}
	.happening-title .char10{	letter-spacing: -1px;	}
	.happening-title .char19{	letter-spacing: 1px;	}
	.happening-title .char20{	letter-spacing: 1px;	}




/*
---- TITLE BACKGROUND TEXTURES -----------------------------

------------------------------------------------------------
*/
	
	img.burst{
 		background:none;
 		position:absolute;
 		top:-110px;
 		opacity:0.4;
 	}





/* 
--- MINI NEWS TICKER --------------------------------------
	mini ticker that lives beneath intro 
-----------------------------------------------------------
*/


	#news-item{
		margin-top:-200px;
	}

	.news-ticker{
		margin:0px auto;
		background:rgb(250,250,250);
		border:20px solid $green;
		color:$slate;
		text-align:center;
		border-radius:50%;
		width:350px;
		height:350px;
		overflow:hidden;
		float:none;
		position:relative;
	}

	.news-ticker .date{
		font-family:courier;
	}

	.news-ticker article:first-child{
		margin-bottom:150px;
		margin-top:120px;
		-webkit-transition:all .5s cubic-bezier(.48,.01,.2,1);
	}

	.news-ticker:hover article:first-child{
		margin-top:-140px;
	}

	.news-ticker:hover{
		cursor:pointer;
	}


	/* controls for operating the ticker */
	.news-ticker-controls{
		position:absolute;
		top:0px;
		left:44%;
		z-index:4;
		height:100%;
		width:40px;
		text-align:center;
	}

	.news-ticker-controls:before{
		content:"";
		z-index:-5;
		position:absolute;
		border: 2px solid $green;
		width:330px;
		height:330px;
		top:8px;
		border-radius: 50%;
		left:-146px;
	}

	a.nav-up, a.nav-down{
		font-family:"ModernPictograms";
		font-size:38px;
		position:absolute;
		width:100%;
		left:0px;
		color:$green;
		text-decoration:none;
	}

	.nav-up{
		top:20px;	
	}

	.nav-down{
		bottom:20px;	
	}
	/* end controls for operating the ticker */





/*
-- NEWS FEED ----------------------------------------------

-----------------------------------------------------------
*/

	/*container for the news feed*/
	.news-feed{
		position:relative;
		z-index:2;
	}

	/*type styling for a tweet*/
	.content p.tweet{
		color:$slate;
	}

	.tweet a:link, .tweet a:visited{
		color:$pink;
	}

	.tweet-data{
		margin:0px;
	}





/*
-- ANNOUNCEMENTS --------------------------------------------
   home page takeover
-------------------------------------------------------------
*/

	#latest-greatest{
		background:rgba(38,179,241,0.9);
		-webkit-background-size:cover;
		background-position:-60px 0px;
		/*position:fixed;*/
		position:absolute;
		z-index:4;
		width:100%;
	}





