/*
-- SHARED NEWS STYLES -------------------------

-----------------------------------------------
*/

	.post-date, p.filter-type, ul.sharing li, .filters ul li{
		font-family:courier;
		font-size:14px;
		line-height:14px;
	}
	


	.post-date{
		display:block;
		/*float:left;*/
		text-align: center;
		margin-top:100px;
		padding:0px;
		list-style:none;
	}

	.post-date .year{
		margin-top:8px;
	}

	.post{
		float:left;
	}

	.tweet h3, .link h3{
		font-size:48px;
		line-height:53px;
		letter-spacing: -1px;
		-webkit-font-smoothing: antialiased;
	}

	.loading h3 {
		font-size:48px;
		line-height:53px;
		letter-spacing: -1px;
		-webkit-font-smoothing: antialiased;

		text-align: center;

		padding: 20px 0;
	}



/*
-- LINK --------------------------------------

-----------------------------------------------
*/

	.link{
		background:$blue;
		padding:20px 0px 60px 0px;
		border-bottom:1px solid $blue-dark;
	}

	.link .post-date{
		margin-top:20px;

	}

	.link .post-date li{
		color:white;
	}

	.link .post-date:before{
		content:url("../../img/shapes/link-before.svg");
		width:100%;
		margin-bottom:20px;
		display:block;
		/*height:100px;*/
	}

	.link .filter-type, .link .post-date{
		color:white;
	}

	.link h4{
		font-family: 'Sentinel SSm A', 'Sentinel SSm B'; font-weight: 400; font-style: normal;
		font-size:22px;
		margin:8px 0px 8px 0px;
		-webkit-font-smoothing:antialiased;
	}

	.link a:link, .link a:visited{
		color:white;
		text-decoration:none;
	}

	.link ul li{
		color:$blue-dark;
	}

	.link .sharing li:hover{
		color:white;
	}


/*
-- EVENT --------------------------------------

-----------------------------------------------
*/
	.content.event{
		background:$cream;
		padding-bottom:80px;
	}

	.content.event h3{
		color:$slate;
	}

	.content.event .filter-type{
		color:$orange;
	}

	.content.event .post-date li{
		color:$slate;
	}

	.content.event ul li{
		color:$orange;
	}

	.event + .loading {
		background:$cream;
	}
	.event + .loading > h3 {
		color:$slate;
	}

/*
-- TWEET --------------------------------------

-----------------------------------------------
*/

	.content.tweet{
		background:url("../../img/shapes/grid-pattern.png");
		padding:20px 0px 60px 0px;
	}

	.content.tweet ul li{
		color:rgb(190,190,190);
	}

	.content.tweet .filter-type{
		color:$pink;
	}

	.content.tweet .post-date{
		background:url("../../img/shapes/tweet-date.svg");
		background-repeat: no-repeat;
		background-position: center;
		margin-top:0px;
		height:164px;
		padding-top:120px;

	}

	.content.tweet .post-date li{
		color:black;
	}

	.content.tweet h3{
		color:$slate;
	}


	.content.tweet .sharing li:hover{
		color:$pink;
	}

	.tweet + .loading {
		background:url("../../img/shapes/grid-pattern.png");
	}
	.tweet + .loading > h3 {
		color:$slate;
	}


/*
-- FEATURE ------------------------------------

-----------------------------------------------
*/

	.content.feature{
		background:$green-tint;
		
	}

	.content.feature .filter-type, .feature ul li{
		color:$green;
	}

	.content.feature-title-container{
		position:relative;
	}
	.content.feature .feature-title{
		color:white;
		height:85%%;
		width:100%;
		/*background:red;*/
		padding-top:10%;
		top:0px;
		position:absolute;
		text-align: center;
		z-index:10;
	}

	.content.feature-img{
		position:relative;
		-webkit-filter:brightness(87%) grayscale(0.2);
		z-index:1;
	}

	.content.feature .post-date{
		color:$slate;
	}

	.content.feature .sharing li:hover{

	}

	.feature + .loading {
		background:$green-tint;
	}
	.feature + .loading > h3 {
		color:$green;
	}

/*
-- SOCIAL -------------------------------------
	
-----------------------------------------------
*/

	ul.sharing{
		list-style:none;
		padding:0px;
	}


	ul.sharing li{
		float:left;
	}

	ul.sharing li.icon{
		font-family: "ModernPictograms";
		font-size:24px;
		margin-left:3px;
		cursor: pointer;
	}

	li.icon.twitter a:before {
		content: 't';
	}
	li.icon.facebook a:before {
		content: 'F';
	}
	li.icon.permalink a:before {
		content: 'Å';
	}

	li.icon.permalink a {
		margin-right: 10px;
	}

	li.icon input {
		color:$slate;
		margin: 0;
		padding: 0;
		height: 20px;
	}

	li.icon a {
		text-decoration: none;
	}



/*
-- NEWS NAVIAGION -----------------------------

-----------------------------------------------
*/


nav.filters{
		background:red;
	
	}

	nav.filters ul{
		/*background:yellow;*/
		position:fixed;
		list-style:none;
		padding:0px;
		margin-left:925px;
		top:200px;
		/*right:0px;*/

		z-index:4;
	}

	.filters ul li a:link{
		/*margin-bottom:10px;*/
		font-weight:bold;
		padding:6px;
		text-align: left;
		display:block;
		letter-spacing: 1px;
	}

	.filters ul li a:hover{
		border:1px solid black;
		
	}