p.inquiries{
	font-family:courier;
	font-size:16px;
	line-height: 24px;
}

ul.inquiries{
	padding:0px;
	list-style:none;
	font-family:courier;
	font-size:16px;
	line-height: 26px;
}

ul.inquiries li{
	color:rgb(250,250,250);
	-webkit-font-smoothing:antialiased;
}

ul.inquiries li.name, ul.inquiries li.e-mail, ul.inquiries li.institution{
	margin-top:10px;
}



.press p, .resources p{
	margin:8px 0px 8px 0px;
	color:white;
}

.press a:link, .resources a:link{
	display:block;
	margin-bottom:40px;
	-webkit-font-smoothing:antialiased;
}


.press a:hover{
	color:$cream;
}

