

	/*import*/

	@import '../mixins/base';
	@import 'base';
	@import 'narrative';
	@import 'forms';
	@import 'news';
	@import 'press';
	@import 'resources';
	@import 'breakpoints';
	

	/*this style should be deleted after we have images in there*/
	img{
		background-color:rgb(240,240,240);
		border:none;
	}

	


	




	h2.blog-feed{
		font-size:100px;
		line-height:100px;
		letter-spacing:0px;
		color:rgb(255,252,219);
	}

	
	
	
	

	
	

	

	

	

	

	


	.introduction{
		position:absolute;
		z-index:2;
		border-top:1px dotted black;
		border-bottom:1px dotted black;
		top:280px;
	}

/* image breaks - - - - - - - - - -*/

.image-block{
		/*background:yellow;*/
		position:relative;
		margin-top:10px;
		margin-bottom:20px;
		z-index:2;
		text-align:center;

	}

	.platonic .orb{
		/*fill:rgba(80,80,80,0.15);*/
		fill:rgba(104,229,64,0.0);
		stroke:$green;
		-webkit-transform-origin:50% 50%;
		-webkit-animation: pulse 1.5s ease-in-out  infinite alternate;
		-webkit-transition:all 0.5s ease-in-out;
	}

	.frame line, .frame polygon{
		stroke-width:1.2;
		-webkit-transition:all 0.5s ease-in-out;
	}

	.platonic:hover .frame line, .platonic:hover .frame polygon{
		stroke-width:1;
		/*stroke:rgb(40,40,40);*/
	}

	.platonic:hover .orb{
		/*stroke:none;*/
		fill:rgba(104,229,64,0.4);
	}

	@-webkit-keyframes pulse{
		from{
			-webkit-transform:scale(0.5);
		}
		to{
			-webkit-transform:scale(1.3);
		}
	}

	.image-break{
		margin-top:100px;
		margin-bottom:100px;
	}



	.image-break img{
		max-width:721px;
	}


	
 



	

	


	



	
	

	.title-illustration g.revealed{
		opacity:1.0;
	}

	.title-illustration .connectors{
		/*opacity:0.2;*/
		-webkit-transition: opacity 1s ease-in-out;
	}

	.title-illustration #shapes{
		/*opacity:0.5;*/
		-webkit-transition: opacity 1s ease-in-out;
	}

	.title-illustration .labels {
		/*opacity:1.0;*/
		-webkit-transition: opacity 1s ease-in-out;
	}




	

	

	


	#making-image{
		width:721px;
		height:481px;
	}


	#tree-diagram{
		background:none;
		/*margin:0px auto;*/

	}


	


	






	

	#info-graphics{
		margin-top:200px;
		padding-bottom:200px;
	}


	.graphic{
		
		margin-bottom:80px;
	}

	

	p.graphic-description{
		font-family:baskerville;
		font-style:italic;
	}

	





