
<div class="main-nav-container">

		<div class="grid full-width clearfix">
				<h1 class="one-column"><a href="{{site.siteurl}}/">steam</a></h1>
				<nav class="main-nav four-column clearfix">
					<ul class="clearfix">
						<li class="four-column-one"><a href="{{ site.siteurl }}/news">News</a></li>
						<li class="four-column-one"><a href="{{ site.siteurl }}/resources">Resources</a></li>
						<li class="four-column-one"><a href="{{ site.siteurl }}/map">Map</a></li>
						<li class="four-column-one omega"><a href="{{ site.siteurl }}/press">Press</a></li>
					</ul>
				</nav>
				<div class="mobile-logo four-column">
					 {% include mobile-logo.html %}

				</div>
		</div>
</div>
