<div class="main-nav-container">
				<nav class="main-nav clearfix">
					<h1 class="logo one-column">ste<span class="a">a</span>m</h1>
					<ul class="clearfix">
						<li class="one-column"><a href="#">News</a></li>
						<li class="one-column"><a href="#">Resources</a></li>
						<li class="one-column"><a href="#">Map</a></li>
						<li class="one-column"><a href="#">Press</a></li>
					</ul>
				</nav>
</div>
		
		<nav class="side-nav">
			<a id="creativity" href="#creativity-is-a-skill"></a>
			<a id="education" href="#making-process"></a>
			<a id="innovators" href="#making-is-innovation"></a>
			<a id="everywhere" href="#happening"></a>
			<a id="join" href="#join-us"></a>
		</nav>
