
<div class="main-nav-container clearfix">

		<div class="grid full-width">
				<h1 class="logo">steam</h1>
				<nav class="main-nav clearfix middle">
					<ul class="clearfix">
						<li class="one-column"><a href="{{ site.siteurl }}/news">News</a></li>
						<li class="one-column"><a href="{{ site.siteurl }}/resources">Resources</a></li>
						<li class="one-column"><a href="{{ site.siteurl }}/map">Map</a></li>
						<li class="one-column"><a href="{{ site.siteurl }}/press">Press</a></li>
					</ul>
				</nav>
		</div>
</div>
		
		<nav class="side-nav">
			<a id="creativity" href="#creativity-is-a-skill"></a>
			<a id="education" href="#making-process"></a>
			<a id="innovation" href="#innovators"></a>
			<a id="everywhere" href="#happening"></a>
			<a id="join" href="#join-us"></a>
		</nav>
