<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <base href="{{ site.siteurl }}">
        <!-- webfonts -->
        <link rel="stylesheet" type="text/css" href="http://cloud.typography.com/641934/691202/css/fonts.css" />
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.siteurl }}/assets/styles/css/style.css">
        
        

        <script src="{{ site.siteurl }}/assets/js/vendor/modernizr-2.6.2.min.js"></script>

    </head>