
{% include top.html %}

<body>
  <div class="wrapper">
      {% include main-nav.html %}

      {{ content }}
      
     <!-- scripts can live here -->
    
  </div> <!-- /wrapper -->


  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="{{ site.siteurl }}/assets/js/vendor/modernizr-2.6.2.min.js"></script>
  <script src="{{ site.siteurl }}/assets/js/jquery.lettering-0.6.1.min.js"></script>
  <script src="{{ site.siteurl }}/assets/js/common.js"></script>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

  <script>
  var STEAM = window.STEAM = {
     url: function (path) {
         // path - absolute path to ressource
         // returns server + path
         // return "http://limitless-atoll-9939.herokuapp.com" + path;
         return "http://localhost:5000" + path;
     }
  };
  STEAM.api = {
     news: STEAM.url('/api/v1/news/?format=json'),
     tumbl: STEAM.url('/api/v1/tumbl/?format=json'),
     tweet: STEAM.url('/api/v1/tweet/?format=json')
  };
  var DEBUG = true;
  </script>

  <script src="{{ site.siteurl }}/assets/js/news.js"></script>
  <script src="{{ site.siteurl }}/assets/js/toots.js"></script>
  <script src="{{ site.siteurl }}/assets/js/ticker.js"></script>
</body>
</html>