/* FONTS ===============================================================*/
@font-face {
  font-family: "ModernPictograms";
  src: url("../../fonts/modernpics.otf"); }

/*... COLORS ........................*/
/* end COLORS */
/*.. GRID ............................*/
/*this is the section container that the grid is based from*/
.full-width {
  width: 1090px;
  margin: 0px auto;
  position: relative;
  display: block; }

.one-column {
  width: 165px;
  margin-right: 20px; }

.two-column {
  width: 350px; }

.three-column {
  width: 535px; }

.four-column {
  width: 720px; }

.five-column {
  width: 905px; }

/*this class moves things over a column*/
.middle {
  margin-left: 185px; }

.jump-two {
  margin-left: 350px; }

/*.. end GRID ......................*/
/*.. MAIN NAVIGATION ...............*/
.main-nav-container {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 10; }

.main-nav {
  width: 1090px;
  margin: 0px auto;
  position: fixed;
  z-index: 10; }

.main-nav ul {
  margin-top: 0px;
  padding: 0px; }

.main-nav ul li {
  float: left;
  list-style: none; }

.main-nav ul li a:link, .main-nav ul li a:visited {
  display: block;
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: 5px solid black;
  text-decoration: none;
  color: black; }

.main-nav ul li a:hover {
  color: #c8c8c8;
  border-bottom: 5px solid #c8c8c8; }

.logo {
  float: left;
  font-family: times;
  margin-top: 0px;
  font-size: 36px;
  padding-left: 55px;
  padding-right: 40px;
  position: fixed;
  z-index: 1; }

/*.. end MAIN NAVIGATION............*/
.headline {
  font-family: "Antenna Comp Medium";
  font-style: normal;
  font-weight: normal;
  font-size: 250px;
  line-height: 200px;
  text-align: center;
  letter-spacing: -3px;
  margin: 0px auto;
  position: relative;
  -webkit-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  z-index: 1; }
