/*import*/
/*
-- SOME NITTY GRITTY ----------------------------------

-------------------------------------------------------
*/
@font-face {
  font-family: "ModernPictograms";
  src: url("../../fonts/modernpics.otf"); }

body {
  margin: 0px; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.wrapper {
  width: 100%;
  background: #fafafa; }

/* 
-- SITEWIDE COLORS -----------------------------------------------

------------------------------------------------------------------
*/
/*
-- MAIN NAVIGATION -------------------------------------------------

--------------------------------------------------------------------
*/
.main-nav-container {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 10; }

.main-nav {
  margin: 0px auto;
  font-family: courier;
  z-index: 10; }

.logo {
  float: left;
  font-family: times;
  margin-top: 0px;
  font-size: 36px;
  padding-left: 55px;
  padding-right: 40px;
  /*position:fixed;*/
  z-index: 1; }

.main-nav ul {
  margin-top: 0px;
  padding: 0px; }

.main-nav ul li {
  float: left;
  list-style: none; }

.main-nav ul li a:link, .main-nav ul li a:visited {
  display: block;
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: 5px solid black;
  text-decoration: none;
  color: black; }

.main-nav ul li a:hover {
  color: #c8c8c8;
  border-bottom: 5px solid #c8c8c8; }

/* 
-- THE GRID COLUMNS  -----------------------------------------------
	Initial values for the grid
--------------------------------------------------------------------
*/
.grid-test {
  background: rgba(200, 200, 200, 0.3) !important;
  color: rgba(150, 150, 150, 0.5);
  padding: 20px 0px;
  font-family: helvetica;
  font-size: 12px;
  margin-bottom: 10px;
  text-align: center;
  -webkit-transition: color 0.2s ease-in-out; }

.grid-test:hover {
  color: rgba(150, 150, 150, 0.9); }

/*this is the section container that the grid is based from*/
.full-width {
  width: 1090px;
  /*max-width:1200px;*/
  /*min-width:90%;
  max-width:95%;*/
  margin: 0px auto;
  position: relative;
  display: block; }

.one-column {
  float: left;
  position: relative;
  width: 15.137614678899%;
  /* 165 pixels  164.9999999999991*/
  margin-right: 1.834862385321%;
  /* 20 pixels  */ }

/* 
	Two Column Styles | |  
*/
.two-column {
  float: left;
  width: 32.110091743119%;
  margin-right: 1.834862385321%;
  /* 349.9999999999971 pixels */ }

.two-column-one {
  float: left;
  width: 47.142857142857%;
  margin-right: 5.71429%; }

.two-column-two {
  width: 100%;
  float: left; }

/* 
	Three Column Styles | | |  
*/
.three-column {
  float: left;
  width: 49.082568807339%;
  margin-right: 1.834862385321%;
  /* 535 pixels 534.9999999999951 */ }

.three-column-one {
  background: red;
  float: left;
  width: 30.841121495327%;
  margin-right: 3.738317757009%;
  /* */ }

.three-column-two {
  width: 65.420560747664%;
  float: left;
  margin-right: 3.738317757009%; }

.three-column-three {
  width: 100%; }

/* 
	Four Column Styles | | | |  
*/
.four-column {
  width: 66.005504587156%;
  margin-right: 1.834862385321%;
  float: left;
  /* 719.4600000000004 pixels */ }

.four-column .offset-one {
  margin-left: 25.679862674784%; }

.four-column-one {
  float: left;
  width: 22.9%;
  margin-right: 2.779862674784%; }

.four-column-two {
  float: left;
  width: 48.611111111111%;
  margin-right: 2.779862674784%; }

.four-column-three {
  float: left;
  width: 74.3%;
  margin-right: 2.779862674784%; }

.four-column-four {
  width: 100%;
  margin-right: 0%;
  float: left; }

/* 
	Five Column Styles | | | | |  
*/
.five-column {
  width: 83.02752293578%;
  margin-right: 1.834862385321%;
  float: left; }

/* 
	Six Column Styles | | | | | |
*/
.six-column {
  width: 100%;
  float: left; }

/* 
	Six Column Styles | | | | | |
*/
.offset-one {
  margin-left: 16.97247706422%; }

.offset-two {
  margin-left: 33.94495412844%; }

.offset-three {
  margin-left: 50.917431192661%; }

/*this class moves things over a column*/
.middle {
  margin-left: 185px; }

.jump-two {
  margin-left: 350px; }

/* breaks out of the grid to overtake the entire width of the document */
.full-frame {
  max-width: 100%;
  margin: 0px;
  display: block;
  background: #f0f0f0; }

.omega {
  margin-right: 0%; }

/*
-- TYPOGRPHAY -----------------------------------------------------

-------------------------------------------------------------------
*/
h2 {
  font-size: 250px;
  margin: 0px;
  line-height: 200px;
  letter-spacing: -3px;
  color: #e6e6e6;
  position: relative;
  -webkit-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  font-family: "Antenna Comp Medium";
  font-style: normal;
  font-weight: normal; }

h3, .content p.tweet {
  font-family: 'Mercury Display A', 'Mercury Display B';
  font-weight: 700;
  font-style: normal;
  margin: 0px;
  font-size: 32px;
  line-height: 42px;
  -webkit-text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

.content p {
  font-size: 22px;
  line-height: 32px;
  color: #3c3c3c;
  font-family: 'Sentinel A', 'Sentinel B';
  font-weight: 400;
  font-style: normal;
  -webkit-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility; }

/*
---- SIDE NAVIGATION ------------------------------------
	
---------------------------------------------------------
*/
.side-nav {
  position: fixed;
  right: 24px;
  width: 12px;
  z-index: 4;
  top: 33%; }

.side-nav a {
  width: 6px;
  height: 6px;
  background: rgba(250, 250, 250, 0.8);
  border: 1px solid #c8c8c8;
  display: block;
  margin-bottom: 24px;
  border-radius: 3px; }

.side-nav a:hover {
  background: #969696; }

.side-nav a:active {
  background: #646464; }

/*
-- STRUCTURAL ELEMENTS ------------------------------------

-----------------------------------------------------------
*/
/*this is a container to hold multiple paragraphs*/
.body-text {
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
  position: relative; }

.content {
  padding: 0px 0px 200px 0px; }

/*
-- HEADER IMAGE -------------------------------------------

-----------------------------------------------------------
*/
.header-image {
  width: 100%;
  min-height: 900px;
  max-height: 1100px;
  background: url("../../img/steam-sketch.jpg");
  -webkit-background-size: cover;
  background-position: -100px 0px;
  position: relative;
  z-index: 2; }

/*
-- SECTIONS -----------------------------------------------
	broad color styles for each section
-----------------------------------------------------------
*/
/* Key to Innovation / big introduction */
#key-to-innovation {
  /*	border:20px solid white;*/
  background: white;
  padding-bottom: 250px; }

#key-to-innovation .false-border {
  background: #68e540;
  position: relative;
  /*width:100%;*/
  margin: 2%; }

#key-to-innovation .body-text {
  border-top: 1px solid white;
  border-bottom: 1px solid white; }

#key-to-innovation h2 {
  color: white; }

#key-to-innovation .body-text {
  z-index: 3; }

/* Creativity is a Skill / introduction */
#creativity-is-a-skill {
  border: 20px solid #26b3f1;
  background: url("../../img/shapes/grid-pattern.png"); }

#creativity-is-a-skill h2 {
  color: #26b3f1; }

/* Makers are Innovators / profiles */
#innovators {
  background: #854f8e;
  border: 20px solid #ff607f; }

#innovators h2 {
  color: #ff607f;
  margin-bottom: 67px; }

.maker-profile {
  margin-bottom: 40px;
  padding-bottom: 40px;
  position: relative;
  z-index: 2;
  border-bottom: 2px solid rgba(30, 30, 30, 0.1); }

.maker-profile-name {
  color: #f6f6f6; }

.maker-profile img {
  float: left;
  margin-top: 46px;
  margin-left: 43px;
  margin-right: 64px;
  width: 262px;
  height: 218px;
  -webkit-filter: grayscale(1) brightness(85%) contrast(80%); }

.maker-profile img:hover {
  -webkit-filter: brightness(85%) grayscale(1); }

p.maker-description {
  float: left;
  margin: 0px;
  color: #f6f6f6;
  -webkit-font-smoothing: antialiased; }

/* Happening / news feed */
#happening {
  background: #fffbdb; }

#happening h2 {
  color: #68e540; }

/* Take Action */
#take-action {
  background: #657686;
  border-top: 10px solid #ff607f; }

#take-action h2, #take-action h3 {
  color: #fffbdb; }

#take-action h3 {
  -webkit-font-smoothing: antialiased; }

#take-action.content p {
  color: #f0f0fa;
  -webkit-font-smoothing: antialiased; }

/* Making Process */
#making-process {
  padding-top: 220px;
  padding-bottom: 160px;
  margin-top: -188px;
  background-color: white;
  background-image: url("../../img/shapes/bucky-bg.png"), url("../../img/shapes/bucky-slices.png");
  background-repeat: no-repeat;
  background-position: -2% 600px, 85% 900px; }

.making-process-title {
  text-align: center;
  font-weight: normal;
  font-style: italic;
  font-family: baskerville;
  font-size: 22px;
  margin-bottom: 22px;
  margin-top: 44px;
  color: #657686; }

.making-process-step {
  /*width:557px;
  margin-left:185px;*/
  margin-bottom: 150px; }

.making-process-step:last-child {
  margin-bottom: 0px; }

/*.making-process-step img{
	width:369px;
	border:1px solid rgb(200,200,200);
	padding:10px;
}*/
p.figure {
  float: left;
  text-align: center;
  font-family: baskerville;
  font-style: italic;
  color: #657686; }

/*
---- ANIMATED TITLES --------------------------------------
	all the different states for the title animations
	live here
-----------------------------------------------------------
*/
/* Innovation Title - kerning */
.innovation-title .char3 {
  letter-spacing: 0px; }

.innovation-title .char4 {
  letter-spacing: -1px; }

.innovation-title .char9 {
  letter-spacing: 0px; }

.innovation-title .char15 {
  letter-spacing: 1px; }

/* Innovation Title - animation states */
.innovation-title .char27 {
  letter-spacing: -100px;
  opacity: 0.0;
  -webkit-transition: letter-spacing 1.5s cubic-bezier(0.48, 0.01, 0.2, 1), opacity 1s ease-in 1s;
  -moz-transition: letter-spacing 1.5s cubic-bezier(0.48, 0.01, 0.2, 1), opacity 1s ease-in 1s;
  transition: letter-spacing 1.5s cubic-bezier(0.48, 0.01, 0.2, 1), opacity 1s ease-in 1s; }

/* Innovation Title - revealed style */
.revealed .char27 {
  letter-spacing: -2px;
  opacity: 1.0; }

/* Innovation Title - illustration */
.title-illustration {
  position: absolute;
  z-index: 4;
  top: -80px;
  margin-left: 50px; }

/* Happening Title - kerning */
.happening-title .char9 {
  letter-spacing: 0px; }

.happening-title .char10 {
  letter-spacing: -1px; }

.happening-title .char19 {
  letter-spacing: 1px; }

.happening-title .char20 {
  letter-spacing: 1px; }

/*
---- TITLE BACKGROUND TEXTURES -----------------------------

------------------------------------------------------------
*/
img.burst {
  background: none;
  position: absolute;
  top: -110px;
  opacity: 0.4; }

/* 
--- MINI NEWS TICKER --------------------------------------
	mini ticker that lives beneath intro 
-----------------------------------------------------------
*/
#news-item {
  margin-top: -200px; }

.news-ticker {
  margin: 0px auto;
  background: #fafafa;
  border: 20px solid #68e540;
  color: #657686;
  text-align: center;
  border-radius: 50%;
  width: 350px;
  height: 350px;
  overflow: hidden; }

.news-ticker .date {
  font-family: courier; }

.news-ticker article:first-child {
  margin-bottom: 150px;
  margin-top: 120px;
  -webkit-transition: all 0.5s cubic-bezier(0.48, 0.01, 0.2, 1); }

.news-ticker:hover article:first-child {
  margin-top: -140px; }

.news-ticker:hover {
  cursor: pointer; }

/* controls for operating the ticker */
.news-ticker-controls {
  position: absolute;
  top: 0px;
  left: 44%;
  z-index: 4;
  height: 100%;
  width: 40px;
  text-align: center; }

.news-ticker-controls:before {
  content: "";
  z-index: -5;
  position: absolute;
  border: 2px solid #68e540;
  width: 330px;
  height: 330px;
  top: 8px;
  border-radius: 50%;
  left: -146px; }

a.nav-up, a.nav-down {
  font-family: "ModernPictograms";
  font-size: 38px;
  position: absolute;
  width: 100%;
  left: 0px;
  color: #68e540;
  text-decoration: none; }

.nav-up {
  top: 20px; }

.nav-down {
  bottom: 20px; }

/* end controls for operating the ticker */
/*
-- NEWS FEED ----------------------------------------------

-----------------------------------------------------------
*/
/*container for the news feed*/
.news-feed {
  position: relative;
  z-index: 2; }

/*type styling for a tweet*/
.content p.tweet {
  color: #657686; }

.tweet a:link, .tweet a:visited {
  color: #ff607f; }

.tweet-data {
  margin: 0px; }

/*
-- ANNOUNCEMENTS --------------------------------------------
   home page takeover
-------------------------------------------------------------
*/
#latest-greatest {
  background: rgba(38, 179, 241, 0.9);
  -webkit-background-size: cover;
  background-position: -60px 0px;
  /*position:fixed;*/
  position: absolute;
  z-index: 4;
  width: 100%; }

form {
  margin-bottom: 200px;
  margin-top: 80px;
  position: relative; }

input, label {
  font-size: 22px;
  font-family: 'Sentinel A', 'Sentinel B';
  font-weight: 400;
  font-style: normal;
  background: none;
  -webkit-transition: all 0.2s ease-in-out;
  -webkit-font-smoothing: antialiased; }

input:focus {
  background: #8399AA;
  color: #f0f0f0;
  outline: none;
  box-shadow: 0px 0px 5px rgba(30, 30, 30, 0.2); }

input {
  border: none;
  padding: 10px 0px 10px 0px;
  border-bottom: 1px dotted #c8c8c8;
  margin-bottom: 20px;
  color: #fafafa; }

input:nth-child(odd) {
  /*background:green;*/
  /*margin-left:15px;*/ }

.button-group {
  float: left;
  margin-right: 20px; }

.button-group:nth-child(4n+3) {
  margin-right: 0px;
  /*background:orange;*/ }

label {
  display: block;
  cursor: pointer;
  position: relative;
  /*background:orange;*/
  margin-right: 24px;
  float: left;
  text-align: center;
  color: gainsboro;
  -webkit-font-smoothing: antialiased; }

label:last-child {
  margin-right: 0px; }

input[type=radio] {
  display: none; }

label:after {
  content: "";
  display: block;
  margin: 20px auto 0px auto;
  width: 20px;
  height: 20px;
  border-radius: 12px;
  border: 2px solid #c8c8c8;
  -webkit-transition: all 0.5s ease-in-out; }

input[type=radio]:checked + label:after {
  content: "\2022";
  color: #f3f3f3;
  font-size: 30px;
  border: 2px solid #f0f0f0;
  background: rgba(240, 240, 240, 0.3);
  margin-top: 20px;
  text-align: center;
  line-height: 18px; }

input[type="submit"] {
  background: none;
  border: 1px solid white;
  -webkit-font-smoothing: antialiased;
  margin-top: 40px;
  display: block; }

input[type="submit"]:hover {
  background: white;
  cursor: pointer;
  color: #657686; }

.radio {
  padding: 20px 0px 30px 0px;
  border-top: 1px solid #506472;
  border-bottom: 1px solid #506472; }

/*
-- SHARED NEWS STYLES -------------------------

-----------------------------------------------
*/
p.post-date, p.filter-type, ul.sharing li, .filters ul li {
  font-family: courier;
  font-size: 14px;
  line-height: 14px; }

p.post-date {
  display: block;
  /*float:left;*/
  text-align: center;
  margin-top: 100px; }

.post {
  float: left; }

.tweet h3, .link h3 {
  font-size: 48px;
  line-height: 53px;
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased; }

/*
-- EVENT --------------------------------------

-----------------------------------------------
*/
.event {
  background: #fffbdb;
  padding-bottom: 80px; }

.event h3 {
  color: #657686; }

.event .filter-type {
  color: #ff8830; }

.event .post-date {
  color: #657686; }

.event ul li {
  color: #ff8830; }

/*
-- LINK --------------------------------------

-----------------------------------------------
*/
.link {
  background: #26b3f1;
  padding: 20px 0px 60px 0px;
  border-bottom: 1px solid #0094ce; }

.link .post-date {
  margin-top: 20px; }

.link .post-date:before {
  content: url("../../img/shapes/link-before.svg");
  width: 100%;
  margin-bottom: 20px;
  display: block;
  /*height:100px;*/ }

.link .filter-type, .link .post-date {
  color: white; }

.link h4 {
  font-family: 'Sentinel A', 'Sentinel B';
  font-weight: 300;
  font-style: normal;
  font-size: 22px;
  margin: 8px 0px 8px 0px; }

.link a:link, .link a:visited {
  color: white;
  text-decoration: none; }

.link ul li {
  color: #0094ce; }

/*
-- TWEET --------------------------------------

-----------------------------------------------
*/
.tweet {
  background: url("../../img/shapes/grid-pattern.png");
  padding: 20px 0px 60px 0px; }

.tweet ul li {
  color: #bebebe; }

.tweet .filter-type {
  color: #ff607f; }

.tweet .post-date {
  background: url("../../img/shapes/tweet-date.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 0px;
  height: 164px;
  padding-top: 120px; }

.tweet h3 {
  color: #657686; }

/*
-- FEATURE ------------------------------------

-----------------------------------------------
*/
.feature {
  background: #f0fcf6; }

.feature .filter-type, .feature ul li {
  color: #68e540; }

.feature-title-container {
  position: relative; }

.feature .feature-title {
  color: white;
  height: 85%%;
  width: 100%;
  /*background:red;*/
  padding-top: 10%;
  top: 0px;
  position: absolute;
  text-align: center;
  z-index: 10; }

.feature-img {
  position: relative;
  -webkit-filter: brightness(87%) grayscale(0.2);
  z-index: 1; }

.feature .post-date {
  color: #657686; }

/*
-- SOCIAL -------------------------------------
	
-----------------------------------------------
*/
ul.sharing {
  list-style: none;
  padding: 0px; }

ul.sharing li {
  float: left; }

ul.sharing li.icon {
  font-family: "ModernPictograms";
  font-size: 24px;
  margin-left: 3px; }

/*
-- NEWS NAVIAGION -----------------------------

-----------------------------------------------
*/
nav.filters {
  background: red; }

nav.filters ul {
  /*background:yellow;*/
  position: fixed;
  list-style: none;
  padding: 0px;
  margin-left: 925px;
  top: 200px;
  /*right:0px;*/ }

.filters ul li a:link {
  /*margin-bottom:10px;*/
  font-weight: bold;
  padding: 6px;
  text-align: left;
  display: block;
  letter-spacing: 1px; }

.filters ul li a:hover {
  border: 1px solid black; }

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .title-illustration {
    display: none; }

  .false-border .full-width {
    width: 85%;
    max-width: 85%; }

  .full-width {
    max-width: 80%;
    width: 80%;
    background: rgba(40, 40, 40, 0.4);
    position: relative;
    /*background:green;*/ }

  .one-column {
    background: yellow;
    width: 22.948328267477%;
    margin-right: 2.73556231003%;
    background: rgba(180, 180, 180, 0.7);
    position: relative; }

  .two-column {
    background: rgba(180, 180, 180, 0.3); }

  .offset-one {
    margin-left: 0%; }

  .four-column {
    background: rgba(220, 220, 220, 0.2);
    width: 100%;
    margin-left: 0px;
    position: relative; }

  .four-column-one {
    width: 22.948328267477%;
    margin-right: 2.73556231003%;
    position: relative; }

  h2 {
    color: yellow;
    font-size: 200px;
    line-height: 160px; }

  h1 {
    display: none; }

  /*
   -- MAIN NAV----------------------------
   ---------------------------------------
  */
  nav.offset-one {
    margin-left: 0px; }

  .main-nav ul {
    /*background:green;*/ }

  .main-nav ul li:last-child {
    margin-right: 0px;
    background: red; } }
/*this style should be deleted after we have images in there*/
img {
  background-color: #f0f0f0;
  border: none; }

/*this is the big honkin' type for each section*/
h2.blog-feed {
  font-size: 100px;
  line-height: 100px;
  letter-spacing: 0px;
  color: #fffcdb; }

/* NEWS Section rules - - - - - - - - - - - - - -  - - - - - - - - - -  */
/*news colors*/
.introduction {
  position: absolute;
  z-index: 2;
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
  top: 280px; }

/* image breaks - - - - - - - - - -*/
.image-block {
  /*background:yellow;*/
  position: relative;
  margin-top: 10px;
  margin-bottom: 20px;
  z-index: 2;
  text-align: center; }

.platonic .orb {
  /*fill:rgba(80,80,80,0.15);*/
  fill: rgba(104, 229, 64, 0);
  stroke: #68e540;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation: pulse 2.5s ease-in-out  infinite alternate;
  -webkit-transition: all 0.5s ease-in-out; }

.frame line, .frame polygon {
  stroke-width: 1.2;
  -webkit-transition: all 0.5s ease-in-out; }

.platonic:hover .frame line, .platonic:hover .frame polygon {
  stroke-width: 1;
  /*stroke:rgb(40,40,40);*/ }

.platonic:hover .orb {
  /*stroke:none;*/
  fill: rgba(104, 229, 64, 0.4); }

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(0.5); }

  to {
    -webkit-transform: scale(1.3); } }

.image-break {
  margin-top: 100px;
  margin-bottom: 100px; }

.image-break img {
  max-width: 721px; }

.title-illustration g.revealed {
  opacity: 1.0; }

.title-illustration .connectors {
  /*opacity:0.2;*/
  -webkit-transition: opacity 1s ease-in-out; }

.title-illustration #shapes {
  /*opacity:0.5;*/
  -webkit-transition: opacity 1s ease-in-out; }

.title-illustration .labels {
  /*opacity:1.0;*/
  -webkit-transition: opacity 1s ease-in-out; }

#making-image {
  width: 721px;
  height: 481px; }

#tree-diagram {
  background: none;
  /*margin:0px auto;*/ }

#info-graphics {
  margin-top: 200px;
  padding-bottom: 200px; }

.graphic {
  float: left;
  margin-right: 20px;
  margin-bottom: 80px; }

.graphic img {
  width: 350px;
  height: 350px; }

p.graphic-description {
  font-family: baskerville;
  font-style: italic; }

.graphic:nth-child(3n+3) {
  margin-right: 0px;
  /*background:blue;*/ }

/*@media only screen and (min-width:1200px) and (max-width:2500px){
	.full-width{
		width:1200px;
	}

}*/
/*first breakpoint*/
 /*@media only screen and (min-width:730px) and (max-width:1070px){
 	.full-width{
 		width:680px;
 	}

 	.main-nav{
 	
 		width:680px;
 	}

 	.main-nav ul li:nth-child(4){
 		margin-right:0px;
 	}


 	.logo{

 	}
 	

 	.main-nav-container{
 	}

 	h2{
 		font-size:150px;
 		line-height:130px;
 		width:680px;

 	}

 	


 	.middle{
 		margin-left:0px;
 	}


 	.image-break img{
 		width:680px;
 	}


 	.full-frame{
 		max-height:100%;

 	}

 	#making-process{

 		background-position:-30% 550px,
 							108% 900px;
 	}

 	.maker-profile img{
 		max-width:330px;
 		margin-left:24px;
 	}

 	.making-process-step img{
 		width:370px;
 	}

 	.making-process-step{
 		margin-left:0px;

 	}

 	.making-process-title{
 		margin-left:185px;
 		color:rgb(101,118,134);
 	}

 	p.figure{
 		width:155px;
 		margin-right:0px;
 		color:rgb(101,118,134);
 	}

 	.graphic:nth-child(even){
 		margin-right:0px;
 	}

 	.graphic:nth-child(3){
 		margin-right:20px;
 	}

 	.graphic img{
 		width:330px;
 	}*/
 	/*.five-column{
 		width:680px;
 	}

 	.four-column{
 		width:680px;
 	}

 	.three-column{
 		width:330px;	
 	}

 	.two-column{
 		width:330px;
 	}

 	.one-column{
 		width:155px;
 	}
*/
/*input:nth-child(odd){
	margin-right:18px;
}*/
 /*@media only screen and (min-width:320px) and (max-width:729px){
 	.full-width{
 		width:350px;
 		background:yellow;
 		margin-left:auto;
 		margin-right:auto;

 	}

 	.wrapper{
 		width:350px;
 		background:red;
 		margin-left:auto;
 		margin-right:auto;
 	}

 	body{
 		background:blue;
 	}

 	h1{
 		display:none;
 	}

 	.main-nav{
 		width:350px;
 		background:orange;
 		margin-left:0px;

 	}

 	.main-nav ul li:nth-child(even){
 		margin-right:0px;
 	}

 	.middle{
 		margin-left:0px;
 	}

 	.three-column{
 		width:350px;
 	}

 	.two-column{
 		width:350px;
 	}

 	.four-column{
 		width:350px;
 	}

 	.five-column{
 		width:350px;
 	}

 	h2{
 		font-size:63px;
 		letter-spacing:-1px;
 		line-height:56px;
 	}
 	input{
 		float:none;
 		width:350px;
 	}

 	.figure{
 		margin-left:0px;
 		float:none;
 	}

 	.making-process-step{
 		margin-left:0px;
 		width:330px;
 	}

 	.making-process-step img{
 		width:330px;
 	}

 	.image-break img{
 		width:100%;
 	}

 	.side-nav{
 		display:none;
 	}
 }
*/
